 /**
  * ��       �ߣ�StampGIS Team
  * �������ڣ�2017��7��22��
  * ��        ������������ʽ��
  * ע�����
  * ����bug��0
  * �޸����ڣ�2017��11��8��
  ******************************************/
 body,html{
	 width: 100%;
	 height: 100%;
	 font-size: 62.5%;/*这样会使1rem=10px;或者子元素的1em=10px*/
 }
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,a,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
	 margin:0;
	 padding:0;
	 border:0;
	 outline: 0;
	 box-sizing: border-box;
	 position: relative;
 }
 input,button,textarea,select{
	 outline: 0;
	 box-sizing: border-box;
 }
 h1,h2,h3,h4,h5,h6,em,i {
	 font-weight: 100;
	 font-style: normal;
 }
 ul,ol,li {
	 list-style-type: none;
 }
 a {
	 text-decoration: none;
 }
 button:active{
	 transform: translateY(2px);
 }


 body {
 	margin: 0;
 	overflow: hidden;
 	_padding: 70px 0px 0px 0;
 	/*IE6��ͨ���������µ�����������¹̶������ڳ��ռ�*/
 	_border: 0;
	 /*position: relative;*/
 }
 /*添加的CSS*/
 #header{
	 position: absolute;
	 top: 0;
	 height: 50px;
	 width: 100%;
	 min-width: 1920px;
	 /*background-color: #122534;*/
	 background: url("../images/newUI/title1.jpg") no-repeat;
	 color: #fff;
	 font-size: 16px;
 }
 #line{
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 background: linear-gradient(to right,rgba(42,197,233,0.2) 0%, rgba(42,197,233,1) 50%,rgba(42,197,233,0.2) 100%);
	 height: 4px;
	 z-index: 10;
 }
 #header p,header div{
	 display: inline-block;
 }
 #header>p{
	 position: absolute;
	 top: 20px;
	 color: #fdc123;
	 font-size: 18px;
	 letter-spacing: 1px;
 }
 #header p.left{
	 left: 30px;
 }
 #header p.right{
	 right: 30px;
 }
 #header .title{
	 position: absolute;
	 left: 30%;
	 width: 40%;
	 height: 100%;
	 text-align: center;
 }
 #header .title h2{
	 font-size: 28px;
	 font-weight: 500;
	 height: 50px;
	 line-height: 50px;
	 letter-spacing: 3px;
	 color: #fff;
	 /*color: #2389a0;*/
 }
 /*结束*/
 #mainDiv {
 	width: 100%;
 	top: 50px;
 	position: fixed;
 	height: calc(100% - 50px);
 	/*height: 733px;*/
 	/*Ĭ��ֵ�����������Ӧ����*/
 }

 #headerDiv {
 	height: 0px;
 	width: 100%;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	background: #2A80C9;
 }

 #toolDiv {
 	height: 39px;
 	border-bottom: 1px solid #cecece;
 }

 .logoImg {
 	margin: 8px 10px 8px 20px;
 	width: 143px;
 	height: 54px;
 }

 .titleImg {
 	margin: 19px 0px;
 	height: 32px;
 }

 .titleText {
 	font-family: "Microsoft YaHei" ! important;
 	font-size: 28px;
 	line-height: 30px;
 	font-weight: bold;
 	color: #fafcfc;
 	position: relative;
 	top: 5px;
 	text-shadow: 2px 2px 2px;
 	letter-spacing: 5px;
 	opacity: 0.9;
 }

 .topImg {
 	margin-top: 3px;
 }

 .loadingImg {
 	margin-right: 8px;
 	vertical-align: top;
 	width: 32px;
 	height: 32px;
 }

 .btnPreNext {
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	z-index: 1000;
 	background: white;
 	width: 40px;
 	height: 39px;
 }
 /*-------------topBanner��ʽ START--------------*/

 #headerDiv .defaultStyle {
 	opacity: 0.6;
 	filter: alpha(opacity=60);
 }

 #DB_ul li {
 	cursor: pointer;
 }

 #DB_ul {
 	width: 100%;
 	margin: 0px;
 }

 #DB_ul li:hover {
 	background: url(../images/top/dbli-bg.png);
 }

 #DB_navi {
 	height: 70px;
 	position: absolute;
 	top: 0;
 	right: 0px;
 	z-index: 1;
 	margin: 0px;
 	padding: 0px;
 	text-align: center;
 	background: #2a80c9;
 }

 #DB_ul li {
 	float: right;
 	margin: auto;
 	list-style: none;
 	width: 80px;
 	height: 70px;
 	border-left: 1px solid #1b72bc;
 }
 /*-------------topBanner��ʽ END--------------*/
 /*-------------tools�Ӳ˵���ʽ START--------------*/

 #toolDiv .defaultStyle {
 	padding: 1px 5px;
 	color: #444444;
 	border: none;
 	background-color: #fff;
 }

 #toolDiv .selectedStyle {
 	background-color: #d4f1fb;
 	border: 1px solid #80c9e2;
 	padding: 0px 4px;
 }

 #toolDiv #div_toolBar img {
 	padding-right: 3px;
 	display: inline;
 }

 #toolDiv #div_toolBar span {
 	display: inline;
 }

 #toolDiv #div_toolBar button {
 	display: inline-block;
 	height: 28px;
 	line-height: 28px;
 	margin-bottom: 5px;
 }

 #toolDiv #div_toolBar {
 	overflow: hidden;
 }

 .nextDbIcon {
 	width: 22px;
 	background-image: url(../images/toolsIcon/show.png);
 }

 .nextSgIcon {
 	width: 10px;
 	background-image: url(../images/toolsIcon/next.png);
 }

 .preDbIcon {
 	width: 22px;
 	background-image: url(../images/toolsIcon/hide.png);
 }

 .preSgIcon {
 	width: 10px;
 	background-image: url(../images/toolsIcon/previous.png);
 }

 .toolIcon {
 	height: 16px;
 	float: right;
 	margin: 10px 5px;
 	cursor: pointer;
 	display: none;
 }

 #nextMenu {
 	display: none;
 }

 #toolDiv {
 	width: 100%;
 }

 #toolDiv button {
 	font-family: 'Microsoft Yahei';
 	outline: none;
 }

 #toolDiv #toolBar_ios {
 	margin: 5px 0px 5px 5px;
 	height: 34px;
 	line-height: 34px;
 	overflow: auto;
 	padding-right: 25px;
 }
 /*�Ӵ������Խ���˵���ʾ��ȫ����*/

 #toolDiv #toolBar_ios button {
 	margin-left: 0px;
 	font-size: 14px;
 }

 #toolDiv #toolBar_ios button:hover {
 	padding: 0px 4px;
 	border: 1px solid #80c9e2;
 	background-color: #fff;
 }

 #toolDiv .disable {
 	color: #A0A0A0;
 }
 /*-------------tools�Ӳ˵���ʽ END--------------*/
 /*-------------leftPanel��������ʽ START--------------*/

 #leftPanel {
 	border-right: 1px solid #cecece;
 }

 #operator {
 	width: 100%;
 	height: 100%;
 }
 /*
 * ͼ�����header
 */

 .layerHeader {
 	height: 38px;
 	border: 1px solid #c2cad2;
 	background: #fefefe;
 }

 .layerHeaderInnerDiv {
 	width: 100px;
 	height: 38px;
 	margin-left: 12px;
 	margin-top: 1px;
 }

 .layerHeaderInnerImg {
 	text-align: center;
 	width: 18px;
 	height: 18px;
 	margin-top: -6px;
 }

 .layerHeaderInnerText {
 	font-size: 18px;
 	color: #67B6E6;
 	line-height: 38px;
 	font-weight: bold;
 }
 /*
 * ͼ��رհ�ť
 */

 .closeLayerImg {
 	position: absolute;
 	left: 224px;
 	top: 11px;
 	cursor: pointer;
 }
 /*-------------leftPanel��������ʽ END--------------*/
 /*-------------mainMap��ͼdiv��ʽ START--------------*/

 .whole {
 	width: 100%;
 	height: 100%;
 }

 .half {
 	width: 50%;
 	height: 100%;
 	float: left;
 }

 .hide {
 	display: none;
 }
 /*-------------mainMap��ͼdiv��ʽ END--------------*/
 /*-------------�ײ���������div��ʽ START--------------*/

 #profileChart {
 	position: relative;
 	width: 100%;
 	height: 100%;
 }

 #closeCharts {
 	position: absolute;
 	right: 0;
 	top: 0;
 }
 /*-------------�ײ���������div��ʽ START--------------*/
 /*---------------------ul li��ʽ START-------------------*/

 .nav {
 	list-style-type: none;
 	list-style-position: outside;
 	list-style-image: none;
 	margin-left: 0px;
 }

 img {
 	vertical-align: middle;
 }

 .nav li {
 	float: left;
 }

 ul {
 	padding: 0px;
 	margin: 0px;
 }

 .nav-tabs>li>a,
 .nav-tabs {
 	border-bottom-color: #ddd;
 	border-bottom-width: 1px;
 	border-bottom-style: solid;
 }

 .nav-tabs::before,
 .nav-pills::before,
 .nav-tabs::after,
 .nav-pills::after {
 	line-height: 0;
 	display: table;
 	content: "";
 }

 .nav-tabs::after,
 .nav-pills::after {
 	clear: both;
 }
 /*------------------------ul li��ʽ END----------------------*/